asgiref==3.8.1
cachetools==5.5.0
certifi==2024.7.4
chardet==5.2.0
charset-normalizer==3.3.2
crispy-bootstrap4==2024.1
dj-database-url==2.2.0
Django==5.1
django-appconf==1.0.6
django-crispy-forms==2.3
django-heroku==0.3.1
django-jazzmin==3.0.0
django-markdownx==4.0.7
django-multiselectfield==0.1.13
django-select2==8.2.1
django-user-agents==0.4.0
django-widget-tweaks==1.5.0
google-api-core==2.19.2
google-api-python-client==2.143.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.65.0
gunicorn==23.0.0
httpagentparser==1.9.5
httplib2==0.22.0
idna==3.8
Markdown==3.7
markdown2==2.5.0
oauthlib==3.2.2
packaging==24.1
pillow==10.4.0
proto-plus==1.24.0
protobuf==5.28.0
psutil==6.0.0
psycopg2==2.9.9
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyparsing==3.1.4
PyPDF2==3.0.1
reportlab==4.2.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
ua-parser==0.18.0
uritemplate==4.1.1
urllib3==2.2.2
user-agents==2.2.0
whitenoise==6.7.0
