{% extends "students/base-s.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<section class="user-profile" style="direction: rtl;">

   <h1 class="heading">ملفك الشخصي</h1>

   <div class="info">

      <div class="user">
         <img src="{% static 'assets/images/pic-1.png' %}" alt="">
         <h3>{{ user.username }}</h3>
         <p>{{ user.email }}</p>
         <a href="/change_password/" class="inline-btn">تغيير كلمة السر</a>
      </div>

      {% if messages %}
        <div id="django-messages" style="display: none;">
            {% for message in messages %}
                <span class="message" data-tags="{{ message.tags }}">{{ message }}</span>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Your page content goes here -->

    <!-- Add your JavaScript files here -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var messages = document.querySelectorAll('#django-messages .message');
            if (messages.length > 0) {
                messages.forEach(function(message) {
                    alert(message.textContent);
                });
            }
        });
    </script>
    
      {% comment %} <div class="box-container">
   
         <div class="box">
            <div class="flex">
               <i class="fas fa-bookmark"></i>
               <div>
                  <span>4</span>
                  <p>saved playlist</p>
               </div>
            </div>
            <a href="#" class="inline-btn">قائمة التشغيل </a>
         </div>
   
         <div class="box">
            <div class="flex">
               <i class="fas fa-heart"></i>
               <div>
                  <span>33</span>
                  <p>{{ subject_name }}</p>
               </div>
            </div>
            <a href="#" class="inline-btn">ملفات المادة</a>
         </div>
   
         <div class="box">
            <div class="flex">
               <i class="fas fa-comment"></i>
               <div>
                  <span>12</span>
                  <p>videos comments</p>
               </div>
            </div>
            <a href="#" class="inline-btn">view comments</a>
         </div>
   
      </div> {% endcomment %}
   </div>
<br><br>
<br>
<br>
<br>
<br>
<br>

</section>






{% endblock content %}